.dangky{

}
/* Fomat chữ ĐĂNG KÝ */
.dangky .banner{
    font-size: 35px;
    text-align: center;
    margin: 20px;
    color: white;
}
/* Position để chữ label nằm lên trên ô input */
.dangky .form{
    position: relative;
}
/* Posution cho label */
.dangky .form .label{
    position: absolute;
    padding: 5px;
    background-color: #14213d;
    /* user-select: none; */
    font-weight: 1000;
    color: white;
    left: 41px;
    top: 0;
    transform: translateY(-50%);
    pointer-events: none;
}
/* Hiệu ứng nhấn vào ô input */
.dangky .form .input:focus{
    outline: none;
    border: 1px solid #fca311;
}
/* Hiệu ứng cho label khi nhấn vào ô input */
/* Dấu + chỉ chọn phần tử theo sau phần tử được focus (anh em liền kề)*/
.dangky .form .input:focus + .label{
    color: #fca311;
}

.dangky .form-dangky{
    border: 2px solid white;
    border-radius: 4px;
    width: 600px;
    margin: 70px 50%;
    transform: translateX(-50%);
}
.danky .form ::selection{
    color: red;
}

.dangky .form .input{
    display: block;
    color: white;

    font-size: large;
    background-color: #14213d;
    border: 1px solid;
    border-color: white;
    border-radius: 4px;
    /* 100% Trừ 2 bên padding và margin 20px -> 40px + 2px border 2 bên */
    width: calc(100% - 40px - 40px - 2px);
    padding: 20px;
    margin: 20px;
    /* transition: .25s; */
}
.dangky .thongbao{
    background-color: #034732;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    text-align: center;
    color:  #e5e5e5;
    font-weight: 550;
}
/* Fomat cho nút ĐĂNG KÝ */
.dangky .button-dangky{
    display: block;
    border-radius: 4px;
    width: calc(100% - 42px);
    font-size: large;
    border: 1px solid;
    background-color: #fca311;
    color: #14213d;
    padding: 20px;
    margin: 20px;
    /* height: 20px; */
    /* transform: translateX(-50%); */
    font-family: patrickhand;
    
}
/* Hiệu ứng khi hover vào button đăng ký */
.dangky .form-dangky .button-dangky:hover{
    background-color: white;
    cursor: pointer;
}
