.kqtimkiem{
    width: 75%;
    margin: 0 auto;
    background-color: #e5e5e5;
    /* text-align: center; */
}
.kqtimkiem a{
    color: black;
}
.kqtimkiem .timkiem-container{
    display: flex;
}
.kqtimkiem .sanpham{
    margin-top: 50px;
    width: 85%;
    background-color: #e5e5e5;
}
.kqtimkiem .tieudetatcasp{
    font-size: 50px;
    font-weight: 800;
    color: #fca311;

    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}
.kqtimkiem .sanpham-item{
    width: calc((100% / 5) - 20px - 14px);
}
.kqtimkiem .tendanhmuc{
    font-size: 30px;
    font-weight: 500;
    color: #fca311;

    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}
/* Sau */
.kqtimkiem .sanpham-item{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
}
/* Display container */
.kqtimkiem .timkiem-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
/* Hình ảnh bằng 90% của item */
.kqtimkiem .sanpham-item img{
    width: 90%;
}
.kqtimkiem .sanpham{
    margin: 0 auto;
    border-radius: 10px;
}
.kqtimkiem .sanpham-item:hover{
    transition: .25s;
    transform: translateY(-15px);
}
.kqtimkiem .hinhanh{
    flex-shrink: 0;
}
.kqtimkiem .thongtin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}